<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Bb" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li>
        <!-- Toggle Checkbox -->
        <input type="checkbox" id="menu-toggle" class="peer hidden" />

        <!-- Label as Toggle Button -->
        <label for="menu-toggle" class="cursor-pointer ml-3 mt-3 block left-0">
          ☰ Menu
        </label>

        <!-- Sidebar -->
        <aside class="bg-slate-500 fixed top-20 left-0 h-screen transition-all duration-300 peer-checked:w-0 w-64 overflow-hidden">
          <ul class="ml-3 mt-4 space-y-2">
            <li><.link navigate={~p"/"} class={[@conn.request_path == ~p"/" && "font-bold text-white", "text-gray-300"]}>Home</.link></li>
            <li><.link navigate={~p"/books"} class={[@conn.request_path == ~p"/books" && "font-bold text-white", "text-gray-300"]}>Books</.link></li>
            <li><.link navigate={~p"/users/settings"} class={[@conn.request_path == ~p"/users/settings" && "font-bold text-white", "text-gray-300"]}>Settings</.link></li>
          </ul>
        </aside>
        </li>

        <!-- profile picture and logout menu-->
<li>
<div class="relative ml-3 group">
  <!-- Trigger Button -->
  <button
    class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-gray-800"
    id="user-menu-button"
    aria-expanded="false"
    aria-haspopup="true"
  >
    <span class="absolute -inset-1.5"></span>
    <span class="sr-only">Open user menu</span>
    <img
      class="size-8 rounded-full"
      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
      alt=""
    />
  </button>

  <!-- Dropdown Menu -->
  <div
    class="invisible opacity-0 absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 transition ease-out duration-100 group-hover:visible group-hover:opacity-100"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="user-menu-button"
    tabindex="-1"
  >
    <a
      href="#"
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none"
      role="menuitem"
      tabindex="-1"
      >{@current_user.email}</a>
    <a
      href={~p"/users/settings"}
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none"
      role="menuitem"
      tabindex="-1"
      >
      Settings</a>

    <.link
      href={~p"/users/log_out"}
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none"
      role="menuitem"
      tabindex="-1"
      method="delete"
      >Log out</.link>
  </div>
</div>

        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    {@inner_content}
  </body>
</html>
