<h class="text-2xl font-bold">This is Dashboard Section</h>

<img
  src="https://assets.answersingenesis.org/img/cms/content/contentnode/og_image/whale-genetics-and-evolution.jpg"
  alt="whale"
  class="rounded-xl"
/> <br />
<p class="text-2xl font-bold">Whale, whale, whale, look what we got over here</p>
